//------------------------------
// Animations
//------------------------------
// Initial animation
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

// Animation for completed task
@keyframes fadeInFromNone--completed {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 0.5;
    }
}

// No-task text animation
@keyframes fadeOff {
    0% {
        display: block;
        opacity: 1;
    }

    99% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

// New Task animation
@keyframes fadeFromUp {
    0%{
        transform: translateY(-100px);
    }

    70%{
        transform: translateY(5px);
    }

    100%{
        transform: translateY(0);
    }
}
