@charset 'UTF-8';

//-----------------------
// Variables
//-----------------------
$no-task-text: #BFBFBF;

//-----------------------
// No task information text
//-----------------------
.no-task{
    animation: fadeInFromNone 1s ease-in-out;

    &--hide{
        // Animate, then apply .u-hide
        opacity: 0;

        animation: fadeOff 500ms ease-in-out;
    }

    &__text{
        padding-top: 40px;

        color: $no-task-text;
        font-weight: 100;
        text-align: center;
    }
}
