//-----------------------
// Task
//-----------------------
.task-list{
    width: 100%;

    padding: 15px;

    animation: fadeFromUp 1s ease-in-out,
                fadeInFromNone 1s ease-in-out;

    &--new-task-animation{
        // transition: transform 200ms ease-in-out;
        transform: translateY(-50px);
        // animation: test 20ms ease-in-out;
    }

    &--deleted{
        display: none;
    }
}

.task-separator{
    width: 180px;
}

.task{
    width: 100%;
    height: 40px;

    margin-bottom: 10px;

    border-radius: 5px;

    background-color: #FFF;

    line-height: 40px;

    box-shadow: 0 1px 2px rgba(44, 62, 80, 0.1);

    animation: fadeFromUp 850ms ease-in-out,
                fadeInFromNone 850ms ease-in-out;

    // animation: fadeInFromNone 500ms ease-in-out;

    &--completed{
        opacity: 0.5;
    }

    // Elements
    &__title{
        display: inline-block;

        width: calc(100% - 100px);

        padding-left: 15px;

        color: #666;
        font-family: 'Roboto-Light';
        font-size: 1rem;
        letter-spacing: 0;
    }
}

.task-actions{
    width: 100px;
    height: 40px;

    float: right;

    &__button{
        position: relative;

        width: 50px;
        height: 40px;

        float: left;

        border: none;
        outline: none;

        & svg{
            position: absolute;
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);

            cursor: pointer;
        }

        &--delete{

            // Vertical Line
            &:before{
                content: '';
                height: 1px;
                width: 20px;
                background-color: #E9EDED;
                position: absolute;
                top: 20px;
                right: -10px;
                transform: rotate(90deg);
            }
        }
        &--complete{

        }


    }
}

.task-icon{
    &:hover{
        & .task-icon__background{
            fill: #26B999;
        }

        & .task-icon__tick{
            fill: #FFF;
        }
    }

    //Elements
    &__background,
    &__tick{
        transition: fill 0.2s ease;
    }

    &__background{
        fill: #FFF;
    }

    &__tick{
        fill: #26B999;
    }
}

.trash-icon{

    &:hover path{
        fill: #E96E6E;
    }

    & path{
        transition: fill 0.2s ease;

        fill: #C1CDCB;
    }
}
