@charset 'UTF-8';

//-----------------------
// Variables
//-----------------------
$task-line-separator: #979797;
$task-text-title: #666;
$task-actions-separator: #E9EDED;
$task-trash-icon: #C1CDCB;
$task-bg-color: #FFF;

//-----------------------
// Task
//-----------------------
.task-list{
    width: 100%;

    padding: 15px;
    padding-bottom: 5px;

    animation: fadeFromUp 1s ease-in-out,
                fadeInFromNone 1s ease-in-out;

    &--new-task-animation{
        // transition: transform 200ms ease-in-out;
        transform: translateY(-50px);
        // animation: test 20ms ease-in-out;
    }

    &--completed{
        // Task list line separator
        &:not(:empty)::before{
            position: absolute;
            left: 50%;

            width: 180px;
            height: 1px;

            margin-left: -90px;

            background-color: $task-line-separator;

            content: '';

            animation: fadeInFromNone 850ms ease-in-out;
        }
    }
}

// .task-list--completed .task{
//     animation: fadeFromUp 850ms ease-in-out,
//                 fadeInFromNone--completed 850ms ease-in-out;
// }

.task{
    width: 100%;
    height: 40px;

    margin-bottom: 10px;

    border-radius: 5px;

    background-color: $task-bg-color;

    line-height: 40px;

    box-shadow: 0 1px 2px rgba(44, 62, 80, 0.1);

    animation: fadeFromUp 850ms ease-in-out,
                fadeInFromNone 850ms ease-in-out;

    // Elements
    &__title{
        display: inline-block;

        width: calc(100% - 100px);

        padding-left: 15px;

        color: $task-text-title;
        font-family: 'Roboto-Light';
        font-size: 1rem;
        letter-spacing: 0;
    }

    // Other styles
    // Margin with the task-list separator
    .task-list--completed &:first-child{
        margin-top: 30px;
    }

    // Animation for completed tasks
    .task-list--completed &{
        opacity: 0.5;
        animation: fadeInFromNone--completed 600ms ease-in-out;
    }
}

.task-actions{
    width: 100px;
    height: 40px;

    float: right;

    &__button{
        position: relative;

        width: 50px;
        height: 40px;

        float: left;

        border: none;
        outline: none;

        & svg{
            position: absolute;
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);

            cursor: pointer;
        }

        &--delete{
            // Vertical Line
            &::before{
                position: absolute;
                top: 20px;
                right: -10px;

                width: 20px;
                height: 1px;

                transform: rotate(90deg);

                background-color: $task-actions-separator;

                content: '';
            }
        }

    }
}

.task-icon{
    &:hover{
        & .task-icon__background{
            fill: $default-green;
        }

        & .task-icon__tick{
            fill: $task-bg-color;
        }
    }

    // Modifiers
    &--completed{
        &:hover{
            & .task-icon__background{
                fill: $task-bg-color;
            }

            & .task-icon__tick{
                fill: $default-green;
            }
        }

        &__background{
            fill: $default-green;
        }

        &__tick{
            fill: $task-bg-color;
        }
    }

    //Elements
    &__background,
    &__tick{
        transition: fill 200ms ease;
    }

    &__background{
        fill: $task-bg-color;
    }

    &__tick{
        fill: $default-green;
    }
}


.trash-icon{

    &:hover{
        path{
            fill: #E96E6E;
        }
    }

    & path{
        transition: fill 0.2s ease;

        fill: $task-trash-icon;
    }
}
